<!-- <p>requestor works!</p> -->
<div class="container">
  <!-- <div class="btn-group  " role="group" aria-label="Basic example" style="margin-top: 30px;">
    <button class="btn btn-outline-primary" type="button" (click)="onSelectOxy()">Oxygen</button>


    <button class="btn btn-outline-primary" type="button" (click)="onSelectBed()">Bed</button>


    <button class="btn btn-outline-primary" type="button" (click)="onSelectMed()">Medicine</button>
   
  </div> -->
  <div style="align-items: center; align-content: center; text-align: center;">
  <div class="btn-group  " role="group" aria-label="Basic example" style="margin-top: 30px;margin-right: 10px; "
  *ngFor="let category of categoryList">
    <button mat-fab color="primary"   matTooltip={{category.description}} (click)="selectCategory(category.id)">{{category.name}}</button>
    
  </div>
</div>


  <div class="table-responsive">
    <table class="table table-bordered " style="margin-top: 30px; ">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col" *ngIf="show">Distance(km)</th>
          <th scope="col">Contact</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-container *ngFor="let provider of selectedProvider"> -->
        <tr *ngFor="let provider of selectedProvider">
          <td><a [routerLink]="['/review']" [state]="{data:provider}"> {{provider.providerName}}</a><br>
            <ngb-rating [max]="5" [(rate)]=provider.providerRating [readonly]="true"></ngb-rating>
          </td>
          <td>{{provider.description}}</td>
          <td *ngIf="show">{{provider.distance}}</td>
          <td><a href="tel: {{provider.phone}}" class="button button-positive">Call </a></td>
        </tr>

        <!-- <tr *ngFor="let provider of providors">

           <tr *ngFor="let supply of provider.supplies>
          <td>{{provider.name}}</td>
          <td>{{providors.supplies.description}}</td>
          <td>{{providor.distance}}</td>
          <td><a href="tel: {{providor.contact}}" class="button button-positive">Call </a></td>
        </tr>
        </tr> -->
      </tbody>
    </table>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: aquamarine">Please Wait. </p>  
    </ngx-spinner>  

  <!-- <form #requestForm="ngForm" (ngSubmit)="addRequest()">
    
    <div class="form-group">
      <label>Choose Category</label>
      <select class="form-control" [(ngModel)]=request.category name="categories" #categories="ngModel" required>


        <option *ngFor="let category of categoryList">{{category.name}}</option>
      </select>

      <button class="btn btn-primary " type="submit" style="float: right;" [disabled]="!requestForm.valid">Add
        Request</button>
    </div>



  </form> -->


</div>