<div class="container">

    <div class="row justify-content-md-center">


        <div class=" card" style="margin-top: 30px; ">
            <div class="card-body">
                <p>
                    We are group of people wanting to help those who need support to get resources like Oxygen, Beds, ICU, medicine or anything else related to COVID.
                   
                </p>
                <p>
                    We enable genuine suppliers and providers to list there supply and somebody who need can communicate with them directly to get the service. We would be verifying all the providers and even randomly check the product listings.  You can select providers based on distance and rating provided by other users.
                    
                </p>

                <p>
                    Let us all fight COVID together...
                </p>
            </div>
        </div>

    </div>





    <div class="row justify-content-md-center " style="margin-top: 30px;">

        <div class="btn-group  gap-2 d-md-flex" role="group" aria-label="Basic example" style="height: 150px;">
            <button class="btn btn-secondary" style="width: 50%;" type="button" (click)="toRequestor();">Need Help</button>


            <button class="btn btn-secondary" type="button" style="width: 50%;" (click)="toProvider();">Provide Help</button>


            <!-- <button class="btn btn-secondary" type="button" (click)="toValidator()">Validator</button> -->

        </div>







    </div>
    <div class="row justify-content-md-center" style="margin-top: 30px;">

        <button class="btn btn-primary " type="button" (click)="toVolunteer()">Want to Volunteer with VerfiedCovidHelp</button>


    </div>
</div>