<!-- <div class="col-sm-3"> -->
<div class="container">

    <!-- d-flex justify-content-center -->
    <div class="row justify-content-md-center">
        <!-- <div class="col-md-6"> -->

            <div class=" card" style="margin-top: 30px; ">
                <div class="card-body">
                    <p>
                        We are group of people willing to help who need support to get resources like Oxygen, Beds, ICU,
                        medicine.
                    </p>
                    <p>
                        we enable genuine suppliers and providers to list there supply and somebdy who need can
                        communicate to get the service. we would be verifying all the providers and even randomly check
                        the product listings.
                    </p>

                    <p>
                        we are here to help....
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>


   
    
   
    <div class="row justify-content-md-center " style="margin-top: 30px;">
        <!-- <div class="d-grid gap-2 d-md-flex   "> -->
            <!-- <div class="col-md-6"> -->
        <div class="btn-group  gap-2 d-md-flex" role="group" aria-label="Basic example" style="height: 150px;">
           <button class="btn btn-secondary" type="button" (click)="toRequestor();">Requestor</button>
        
        
            <button class="btn btn-secondary" type="button" (click)="toProvider();">Provider</button>
    
       
            <button class="btn btn-secondary" type="button" (click)="toValidator()">Validator</button>
        <!-- </div> -->
    </div>
        




        <!-- </div> -->

    <!-- </div>
    <div class="row" style="margin-top: 30px;">
        <div class="d-grid gap-2 d-md-flex  justify-content-md-center mx-auto col-6">
            <button class="btn btn-primary me-md-2" type="button">Button</button>
            <button class="btn btn-primary" type="button">Button</button>
            <button class="btn btn-primary" type="button">Button</button>
        </div> -->

    </div>
    <div class="row justify-content-md-center" style="margin-top: 30px;">
        
            <button class="btn btn-primary " type="button">I want to Volunteer</button>

        
    <!-- </div> -->
</div>
</div>