<div id="modal-content-wrapper" class="col text-center">
    <!-- <header id="modal-header">
        <h1 id="modal-title">Allow Location</h1>
    </header>
    <footer id="modal-footer" >
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()" m>Allow Location </button>
    </footer>
    <header id="modal-header">
        <h1 id="modal-title">Or</h1>
    </header> -->
    <section id="modal-body">
        <!-- <p>To search we need location</p> -->
        <div>
            <button mat-raised-button id="modal-action-button" (click)="actionFunction()" m>Allow Location </button>
        </div>
        
        <h1 >Or</h1>
        <div class="form-group">
            <!-- <label>Enter address</label> -->
            <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </div>
    </section>
    <!-- <header id="modal-header">
        <h1 id="modal-title">Allow Location</h1>
    </header>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Allow </button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer> -->
</div>
<!-- https://teamtreehouse.com/community/why-is-it-common-practice-to-wrap-everything-within-the-body-tag-with-a-div-tag -->